* {
    all:                    unset;
    font:                   14px Terminus;
    text-shadow:            0 1px 1px black;
}

window {
    color:                  #ffffff;
}

.bt {
    margin-top:             15px;
    background:             rgba(0,0,0,0.5);
    box-shadow:             0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 12px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}

.bl, .bc, .br {
    padding:                5px;
}

.metric, .text {
    padding:                0px 5px;
    font:                   inherit;
}

.icon-event:hover {
    all:                    unset;
    color:                  #ff0000;
}

.icon-text {
    margin-top:             -1px;
}

.right { min-width:         100px }

.metric scale trough {
    all:                    unset;
    background:             inherit;
    min-height:             10px;
    min-width:              150px;
    border:                 solid;
    border-width:           1px;
    border-color:           #222222;
    margin-left:            10px;
}
.metric scale trough highlight {
    all:                    unset;
    background:             rgba(16,16,16,1);
    box-shadow:             0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}

.fan2 {
    background:             rgba(255,0,0,1);
    padding:                3px 4px;
    margin:                 -3px 0px;
    box-shadow:             0 2px 6px rgba(0,0,0,0.5), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3), inset 1px 0px 0px rgba(255,0,0,0.2), inset -1px 0px 0px rgba(255,0,0,0.2), inset 0 1px rgba(255,255,255,0.3);
}

.temp {
    background:             rgba(0,0,255,1);
    padding:                3px 4px;
    margin:                 -3px 0px;
    box-shadow:             0 2px 6px rgba(0,0,0,0.5), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3), inset 1px 0px 0px rgba(0,0,255,0.2), inset -1px 0px 0px rgba(0,0,255,0.2), inset 0 1px rgba(255,255,255,0.3);
}

.battery-low scale trough highlight { background: rgba(255,0,0,1) }
