* {
    font: 14px Terminus;

    border: none;
    border-radius: 0;
}

window#waybar {
    background: linear-gradient(#222222, #444444);
    color: #ffffff;
    padding: 0px 4px;
}

window#waybar.hidden {
    opacity: 0.2;
}

button, label {
    margin: 4px 0px;
    padding: 0px 6px;
}

.modules-right label {
    background: linear-gradient(#111111, #333333);
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
}

#workspaces button {
    padding: 0;
}

#workspaces button:hover {
    background: #444444;
}

#workspaces button.focused {
    background: linear-gradient(#111111, #333333);
}

#workspaces button.urgent {
    background: #c01c28;
}

#window {
    background: inherit;
}

#mode, #custom-fan2 { background: #c01c28 }
#custom-memory { background: #12488b }
#custom-kernel { background: #68287e }

#custom-space {
    background: linear-gradient(#222222, #444444);
    margin: 0px;
}

#window,
#workspaces {
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
