/* set identity.fxaccounts.enabled to false in about:config */
/* set extensions.unifiedExtensions.enabled to false in about:config */

:root {
    --tab-border-radius:                    0 !important;
    --tab-block-margin:                     0 !important;
    --tab-min-height:                       30px !important;

    --toolbarbutton-border-radius:          0 !important;
    --arrowpanel-border-radius:             0 !important;
    --arrowpanel-menuitem-border-radius:    0 !important;

    --autocomplete-popup-separator-color:   transparent !important;
}

#TabsToolbar .tabbrowser-tab, #TabsToolbar .tabbrowser-tab :is(.tab-stack, .tab-background, .tab-content, .tab-loading-burst) {
    border-radius:  0 0 0 0 !important;
}

.tab-label-container{ height: unset !important }

.tab-secondary-label{ display: none }

.tabbrowser-tab{ padding-inline: 0px !important }
.tabbrowser-tab[label="New Tab"] .tab-content .tab-icon-image { display: none !important }
.tabbrowser-tab[label="New Private Tab"] .tab-content .tab-icon-image { display: none !important }


#TabsToolbar {
	height:         var(--tab-min-height) !important;  
	margin:         0px !important
}

toolbarbutton {
  padding-top:      0px !important;
  padding-bottom:   0px !important;
}
menu {
  padding-top:      4px !important;
  padding-bottom:   4px !important;
}

.titlebar-close {
    display:none !important;
}

/* Safari-like Interface */
/*.tabbrowser-tab[fadein]:not([pinned]) {
  max-width: 100vw !important;
}
#navigator-toolbox{
    display: flex !important;
    flex-direction: column-reverse !important;
}*/

/* #back-button[disabled="true"] { display: none; }
#forward-button[disabled="true"] { display: none; } */

/* tab[selected="true"] { min-width: 300px !important; } */

